


.showModelWindow{
    opacity: 0.5;
}

.blockFilter{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    gap: 0px 60px;
}


.wrapperTitleAndButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 36px;

}

.title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}



.text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.tablePacksListBlock{
    padding-top: 24px;
    width: 100%;
    /*padding: 24px 136px 0 136px;*/
}