

.paginationBlock{
    padding-top: 36px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}



.showCardPageBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}